<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div th:replace="base :: navlinks"></div>


<table>
    <caption><h2>All renting in the list</h2></caption>
    <thead>
    <tr>
        <th>ID</th>
        <th>Description</th>
        <th>Rules</th>
        <th>Cable</th>
        <th>Bathroom</th>
        <th>?Rented</th>
    </tr>
    </thead>

    <tbody>
    <th:block th:each="rent:${allrent}">
        <tr>
            <td th:text="${rent.id}"/>
            <td th:text="${rent.description}" />
            <td th:text="${rent.rules}" />
            <td th:text="${rent.cable}"/>
            <td th:text="${rent.bathroom}" />
            <td th:text="${rent.isrented}" />
        </tr>
    </th:block>
    </tbody>

</table>



<br/>
<br/>
<br/>

<div th:replace="base :: footer"></div>

</body>
</html>