<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div th:replace="base :: navlinks"></div>

<h2>All renting in the list</h2>
<th:block th:each="rent:${allrent}">
<p th:text="'Description: '+ ${rent.description}" />
<p th:text="'Rules: '+ ${rent.rules}" />
<p th:text="'Cable: '+ ${rent.cable}" />
<p th:text="'Bathroom: '+ ${rent.bathroom}" />
<p th:text="'?Rented: '+ ${rent.isrented}" />

</th:block>

<div th:replace="base :: footer"></div>

</body>
</html>